body{
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}
.header {
  box-shadow: 0 2px 2px lightgray;
  display: grid;
  grid-template-columns: 250px 500px 250px;
  grid-row: 1;
  justify-content: space-between;
  align-items: center;
}
.logo.item a{
  display: grid;
  grid-template-columns: 70px 180px;
  justify-content: start;
  align-items: center;
  text-decoration: none;
  list-style: none;
  margin-left: 40px;
}

.title{
  margin-left: -20px;
  font-size: 30px;
  font-family: 'Roboto Condensed', sans-serif;
  color: #FF5000;
}
.search__form__input {
  border: 1px solid lightgray;
  border-radius: 20px;
  height: 30px;
  width: 100%;
  text-align: center;
  background-image: url(../image/icon-lupa.png);
  background-repeat: no-repeat;
  background-size: 15px;
  background-position: 100px;
}
.search__form__input:focus {
  outline: 0;
}
.profile.item{
  display: grid;
  grid-template-columns: 120px 40px 30px;
  justify-content: center;
}
.profile.item h3{
  align-self: center;
}
.profile.item .avatar{
  border: 2px solid #FE2D00;
  border-radius: 50%;
  margin: 10px 0;
}
.profile.item a img{
  margin: 10px;
  margin-top: 20px;
}

/* Comienza el contenido principal de la pagina */

/* sidebar */
.main-content{
  display: grid;
  grid-template-columns: 150px auto;
  grid-template-areas: "sidebar catalog"
                       "sidebar featuring";
  height: 89.2vh;
}
.main-content--search-active {
  grid-template-rows: 1fr 200px;
}
.menu{
  background: linear-gradient(to right, #FF2800, #FF6400);
  display: grid;
  text-align: center;
  justify-content: center;
  grid-template-rows: repeat(4, 100px);
  padding-top: 30px;
  font-family: 'Roboto Condensed', sans-serif;
  grid-area: sidebar;
}
.menu a{
  color: white;
  text-decoration: none;
  list-style: none;
}
.menu .settings{
  grid-row-end: 11;
}

/* catalog */

.catalog {
  display: grid;
  grid-template-rows: repeat(3, 1fr) ;
  overflow: auto;
  grid-area: catalog;
}
.catalog__category {
  display: grid;
  grid-template-rows: 50px 50px 1fr;
}
.catalog__catergory__topic {
  margin: 15px;
  font-size: 14px;
  font-weight: 300;
  color: #888B8E;
}
.catalog__category__title {
  margin: 15px;
  color: #3F546C;
  font-size: 20px;
  font-weight: 400;
}
.catalog__category__list {
  display: flex;
  overflow: auto;
}

/* featuring */
#featuring {
  grid-area: featuring;

}
.featuring {
  background: linear-gradient(to right, #ff0000, #ff458b);
  display: flex;
  height: 100%;
  align-items: center;
  padding-left: 100px;
  color: white;
}
.featuring-image {
  margin-right: 20px;
}
.featuring-title {
  margin: 10px;
}
.featuring-album {
  margin: 10px;
  font-size: 1.3em;
}

.fadeIn {
  animation: 5000ms fadeIn;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
